<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

    {{/* This pulls in the theme's necessary head content */}}
    {{- partial "head.html" . -}}

    {{/* This is where your custom.css gets loaded */}}
    {{- partial "custom-head.html" . -}}
</head>
<body>

    {{/* This calls YOUR custom header from layouts/partials/header.html */}}
    {{- partial "header.html" . -}}

    <div class="site-content">
        {{/* This is where the content from single.html, list.html, etc., will be injected */}}
        {{- block "main" . }}{{- end }}
    </div>

    {{/* This calls YOUR custom footer from layouts/partials/footer.html */}}
    {{- partial "footer.html" . -}}

</body>
</html>
