{{ define "main" }}
    <article class="post-content">
        <header class="post-content-header">
            <h1>{{ .Title }}</h1>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        </header>

        <div class="prose">
            {{ .Content }}
        </div>
    </article>

    {{ if .Params.tags }}
    <div class="tag-list">
        <strong>Topics:</strong>
        <ul>
            {{ range .Params.tags }}
            <li>
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
    

    {{ if .Params.related }}
    <div class="related-posts">
        <h3>Related Analysis</h3>
        <ul>
            {{ range .Params.related }}
                {{ $relatedPage := $.Site.GetPage (printf "/analysis/%s" .) }}
                {{ if $relatedPage }}
                    <li>
                        <a href="{{ $relatedPage.Permalink }}">
                            <strong>{{ $relatedPage.Title }}</strong>
                            <span>{{ $relatedPage.Description }}</span>
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    {{ end }}

{{ end }}